<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" href="/">Início</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="/livros">Livros</a>
    </li>
  </ul>
</nav>
<br>
